    <section class="menu">
        <table>
            <tr>
                <th><h3>Menú</h3></th>
                <th><h3>Estación</h3></th>
                <th><h3>Tipo</h3></th>
            </tr>
            <%  menus.forEach(menu => { %>
                <tr>
                    <td><%= menu.nom_menu %></td>
                    <td><%= menu.nom_estacion %></td>
                    <td><%= menu.descripcion %></td>
                </tr>
            <% }) %> 
        </table>
    </section>
